
    
 .footerbacck{


    width: 100%;
    height: auto;
    padding-top: 50px;
    background-color: #08054E;
 }

 .footercol1>img{
    width: 108px;
    /* padding-left: 10px; */
    margin-left: 2rem;
 }

 .footercol1>p{

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #677294;
    margin-top: 20px;
    margin-left: 2rem;
    width: 83%;
 }
 .footercol1>h3{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: white;
    margin-left: 2rem;
 }
 .footercol1>input{

    width: 50%;
    height: auto;
    margin: 5px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: white;
    background-color: #08054E;
    border: none;
    border-bottom: 1px solid #677294;
    padding: 5px;
    margin-left: 2rem;
 }

 .footercol1>button{

    width: 100px;
    height: auto;
    margin: 20px 0 0 20%;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #2835D5;
    background-color: white;
    border-radius: 27px;
    padding: 5px 0;
    text-align: center;
    cursor: pointer;
 }

 .footercol2>h3{

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: white;
   
 }
 .footercol2>p{

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #677294;
    text-decoration: none;
 }
 .footercol2{
    text-align: center;
 }
 .footercol3>h3{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: white;
 }
 .footercol3>div>img{

    margin-bottom: 5px;
    padding-left: 2rem;
 }

 .footerrow{
    padding-bottom: 2rem;
 }

 .footercol3{
   padding-left: 12rem;
 }