.banner-images {
    width: 100%;
    height: 450px;
    margin: 0;
    background-color: #F2F5FF;
    overflow: hidden;
}

.image-header>img{

    width: 39rem;
    height: 23rem;
    padding-top: 2rem;
    margin-top: 2rem;
}
.texts{


    padding-top: 13rem;
    
}

.texts>h1{
    font-family: 'Georama', sans-serif;
    font-size: 42px;
    color: #08054E;
    text-align: center;
    font-weight: bolder;
    margin-left: -56px;
}

.texts>p{

    width: auto;
    height: auto;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #677294;
    text-align: center;
}
.texts>button{
    width: auto;
    height: auto;
    top: 100px;
    border-radius: 50px;
    padding: 10px 25px;
    background-color: #2835D5;
    color: #ffffff;
    border: none;
    /* margin-left: auto; */
    justify-content: center;
    margin-left: 6rem;
    margin-top: 12px;
}

@media(max-width:600px){

    .texts {
        padding-top: 10rem;
    }
    .image-header>img {
        display: none;
    }
    .texts>h1 {
        margin-left: -12px;
    }
}