.love>h3 {
    text-align: center;
    font-family: 'Georama', sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: #677294;
    margin-top:8rem;
}
.marries{
    margin-left: auto;
    margin-right: auto;
}
.marries>p{
    font-family: 'Roboto',sanserif;
    font-size: 24px;
    font-weight: 700;
    color: #08054E;
    text-align: center;
    margin-bottom: 50px;
    justify-content: center;
}
.vediostyle{
    margin-left: auto;
    margin-right: auto;
    
}
.vediostyle>.vsStyle{
    width: 100%;
}

.btnstyles{
    margin-left: auto;
 margin-top: 3rem;

}

.btnstyles button{
    border: none;
    background: none;
}
.btnstyles button img{
     width: 66px;
}
.dreamup{
margin-left: auto;
    margin-right: auto;
}
.dreamup>img{
    width: 100%;
}

.dreamup>h2{
    font-family: 'Georama',sansderif;
    font-size: 24px;
    font-weight: 700;
    color: #2835D5;
    margin-top: -18rem;
    margin-left: 12rem;
}


.dreamup >p {
    font-family: 'Georama',sansderif;
    font-size: 28px;
    font-weight: 700;
    color: #08054E;
    padding-left: 12rem;
}


.btnhas{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-align: center;
    background-color: #2835D5;
    margin-left: 12rem;
    width: 10%;
    height: 17%;
    border-radius: 27px;
    color: #ffffff;
    border: none;
}
/***********************************/
@media(max-width:600px){

    .dreamup>h2 {

        margin-top: -6rem;
        margin-left: 4rem;
    }
    .dreamup >p {
        font-family: 'Georama',sansderif;
        font-size: 13px;
        font-weight: 700;
        color: #08054E;
        padding-left: 4rem;
    }
    .btnhas {
        margin-left: 4rem;
        width: 21%;
        height: 8%;
        position: absolute;
        margin-top: -14px;
    }
}