.prodcol1>h1{
    font-size: 2.75rem;
    line-height: 1.25;
    color:#08054E;
}
.prodcol1>P{
   color: #677294;
   font-size: 20px;
   font-family: 'Roboto', sans-serif;
}
.prodcol1{
    text-align: center;
    margin-top: 2rem;

}
.prodcol3{
    display: flex;
}
.prodcol3{
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 6rem;
}
.innercol3{
    margin-top: 2rem;margin-top: 2rem;
    width: 36%;
    margin-left: auto;
}
.prodcol4{
    padding-top: 7rem;
    width: 50%;
}
.prodcol7{
    text-align: center;
    font-size: 22px;
}
.locol{
    text-align: center;
    margin-top: 6rem;
    font-family: 'Roboto', sans-serif;
}
.locol>h1{
   color:#08054E;

}
.locol>p{
    color: #677294;
}
.alcols{
    width: 52%;
}
.almaim{
    margin-top: 4rem;
    text-align: center;
}
.logcol{
    text-align: center;
}
.logcol>button{
    width: 17rem;
    height: auto;
    border-radius: 50px;
    padding: 10px 25px;
    background-color: #2835D5;
    color: #ffffff;
    border: none;
    justify-content: center;
    margin-bottom: 6rem;
    margin-top:2rem

}